<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <form action="{{ path('app_dashboard_switchcompany') }}" method="post">
                        <div class="form-group">
                            <label>Firma:</label>
                            <select name="company" class="form-control" onchange="this.form.submit()">
                                <option value=""></option>
                                {% for company in companies() %}
                                    {{ dump(currentCompany()) }}
                                <option value="{{ company.id }}" {% if currentCompany() and currentCompany().id == company.id %}selected{% endif %}>{{ company.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_dashboard_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_dashboard_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            {% trans %}Dashboard{% endtrans %}
                        </p>
                    </a>
                </li>

                {% if currentCompany() %}
                <li class="nav-item">
                    <a href="{{ path('app_timetracking_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_timetracking_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-clock-o"></i>
                        <p>
                            {% trans %}Time Tracking{% endtrans %}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('app_offer_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_offer_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-send"></i>
                        <p>
                            {% trans %}Offers{% endtrans %}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('app_invoice_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_invoice_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-envelope"></i>
                        <p>
                            {% trans %}Invoices{% endtrans %}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('app_document_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_document_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-file-text"></i>
                        <p>
                            {% trans %}Documents{% endtrans %}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('app_customer_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_customer_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-address-book"></i>
                        <p>
                            {% trans %}Customers{% endtrans %}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('app_project_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_project_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-plane"></i>
                        <p>
                            {% trans %}Projects{% endtrans %}
                        </p>
                    </a>
                </li>
                {% endif %}

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-key"></i>
                        <p>
                            {% trans %}Settings{% endtrans %}
                            <i class="fa fa-angle-right right"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('app_user_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_user_~' %}active{% endif %}">
                                <i class="nav-icon fa fa-users"></i>
                                <p>
                                    {% trans %}Users{% endtrans %}
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ path('app_company_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_company_~' %}active{% endif %}">
                                <i class="nav-icon fa fa-briefcase"></i>
                                <p>
                                    {% trans %}Companies{% endtrans %}
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ path('app_vatrate_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_vatrate_~' %}active{% endif %}">
                                <i class="nav-icon fa fa-money"></i>
                                <p>
                                    {% trans %}VAT Rates{% endtrans %}
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ path('app_unit_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_unit_~' %}active{% endif %}">
                                <i class="nav-icon fa fa-balance-scale"></i>
                                <p>
                                    {% trans %}Units{% endtrans %}
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_security_logout') }}" class="nav-link">
                        <i class="nav-icon fa fa-sign-out"></i>
                        <p>
                            {% trans %}Logout{% endtrans %}
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
