<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('app_dashboard_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_dashboard_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            {% trans %}Dashboard{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_timetracking_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_timetracking_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-clock-o"></i>
                        <p>
                            {% trans %}Time Tracking{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_invoice_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_invoice_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-envelope"></i>
                        <p>
                            {% trans %}Invoices{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_customer_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_customer_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-address-book"></i>
                        <p>
                            {% trans %}Customers{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_project_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_project_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-plane"></i>
                        <p>
                            {% trans %}Projects{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_unit_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_unit_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-balance-scale"></i>
                        <p>
                            {% trans %}Units{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_vatrate_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_vatrate_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-money"></i>
                        <p>
                            {% trans %}VAT Rates{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_company_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_company_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-briefcase"></i>
                        <p>
                            {% trans %}Companies{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_user_index') }}" class="nav-link {% if app.request.attributes.get('_route') matches '~^app_user_~' %}active{% endif %}">
                        <i class="nav-icon fa fa-users"></i>
                        <p>
                            {% trans %}Users{% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_security_logout') }}" class="nav-link">
                        <i class="nav-icon fa fa-sign-out"></i>
                        <p>
                            {% trans %}Logout{% endtrans %}
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
