{% extends "base.html.twig" %}

{% block pageTitle %}{{ title|trans }}{% endblock %}

{% block body %}
<section class="content">
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    {{ form_row(form.customer) }}
                    {{ form_row(form.country) }}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    {{ form_row(form.invoiceNumber) }}
                    {{ form_row(form.invoiceDate) }}
                    {{ form_row(form.timeOfSupply) }}
                    {{ form_row(form.timeOfSupplyEnd) }}
                    {{ form_row(form.creditPeriod) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_row(form.subject) }}

                    <table class="line-item-table table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{% trans %}Pos{% endtrans %}</th>
                            <th>{% trans %}Title / Description{% endtrans %}</th>
                            <th>{% trans %}Amount{% endtrans %}</th>
                            <th>{% trans %}Unit{% endtrans %}</th>
                            <th>{% trans %}Single Price{% endtrans %}</th>
                            <th>{% trans %}VAT Rate{% endtrans %}</th>
                            <th>{% trans %}Total{% endtrans %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in form.items %}
                        <tr class="line-item">
                            <td>{{ loop.index }}</td>
                            <td>
                                {{ form_row(item.title) }}
                                {{ form_row(item.description) }}
                            </td>
                            <td>{{ form_row(item.amount, {'attr': {'class': 'line-item--amount'}}) }}</td>
                            <td>{{ form_row(item.unit) }}</td>
                            <td>{{ form_row(item.priceSingle, {'attr': {'class': 'line-item--price-single'}}) }}</td>
                            <td>{{ form_row(item.vatRate, {'attr': {'class': 'line-item--vat-rate'}}) }}</td>
                            <td class="text-right">
                                <small>({% trans %}Net{% endtrans %})</small> <span class="line-item--total-net-price"></span><br>
                                <small>({% trans %}Gross{% endtrans %})</small> <span class="line-item--total-gross-price"></span>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-remove-line-item">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="prototype line-item d-none">
                            <td class="line-item--index"></td>
                            <td>
                                {{ form_row(form.items.vars.prototype.title) }}
                                {{ form_row(form.items.vars.prototype.description) }}
                            </td>
                            <td>{{ form_row(form.items.vars.prototype.amount, {'attr': {'class': 'line-item--amount'}}) }}</td>
                            <td>{{ form_row(form.items.vars.prototype.unit) }}</td>
                            <td>{{ form_row(form.items.vars.prototype.priceSingle, {'attr': {'class': 'line-item--price-single'}}) }}</td>
                            <td>{{ form_row(form.items.vars.prototype.vatRate, {'attr': {'class': 'line-item--vat-rate'}}) }}</td>
                            <td class="text-right">
                                <small>({% trans %}Net{% endtrans %})</small> <span class="line-item--total-net-price"></span><br>
                                <small>({% trans %}Gross{% endtrans %})</small> <span class="line-item--total-gross-price"></span>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-remove-line-item">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="8" class="text-right">
                                <button class="btn btn-primary btn-add-line-item"><i class="fa fa-plus"></i> {% trans %}Add Item{% endtrans %}</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-right">
                                {% trans %}Total Net{% endtrans %}:
                            </td>
                            <td colspan="3" class="text-right">
                                <span class="total-net"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-right">
                                {% trans %}Taxes{% endtrans %}:
                            </td>
                            <td colspan="3" class="text-right">
                                <span class="total-taxes"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-right">
                                <strong>{% trans %}Total Gross{% endtrans %}:</strong>
                            </td>
                            <td colspan="3" class="text-right">
                                <strong><span class="total-gross"></span></strong>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% do form.items.setRendered %}
    {{ form_end(form) }}
</section>
{% endblock %}
