{% extends "base.html.twig" %}

{% block pageTitle %}{% trans %}Time Tracking{% endtrans %}{% endblock %}

{% block body %}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{% trans %}Time Tracking{% endtrans %}</h3>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-10">
                            <h3>{{ date | date('F Y') }}</h3>
                            <div class="accownting-timeline">
                                <div class="month-prev">
                                    <a href="{{ path('app_timetracking_index') }}?date={{ prevMonth | date('Y-m-d') }}">
                                        <i class="fa fa-caret-left"></i>
                                    </a>
                                </div>
                                {% for day in days %}
                                <div class="timeline--day {% if day.day == date | date('d') %}current{% endif %}" data-date="{{ day.date }}">
                                    <div class="timeline--day--number">
                                        {{ day.day }}
                                    </div>
                                    <div class="timeline--day--duration">
                                        {{ day.duration | number_format }}
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="month-next">
                                    <a href="{{ path('app_timetracking_index') }}?date={{ nextMonth | date('Y-m-d') }}">
                                        <i class="fa fa-caret-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="text-right">
                                <a href="{{ path('app_timetracking_add') }}?moment={{ date|date('Y-m-d') }}" class="btn btn-primary">{% trans %}Add Time Track Item{% endtrans %}</a>
                            </div>
                        </div>
                    </div>

                    <table class="table table-sm table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{% trans %}Project{% endtrans %}</th>
                            <th>{% trans %}Moment{% endtrans %}</th>
                            <th>{% trans %}Description{% endtrans %}</th>
                            <th class="text-right">{% trans %}Duration{% endtrans %} {% trans %}Shortcode Total{% endtrans %}{{ totalTime|number_format }} {% trans %}Shortcode Chargeable{% endtrans %}{{ totalTimeChargeable|number_format }}</th>
                            <th>{% trans %}Person{% endtrans %}</th>
                            <th>{% trans %}Actions{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if timeTrackItems | length > 0 %}
                            {% for item in timeTrackItems %}
                            <tr>
                                <td>
                                    {{ item.project.name }}<br>
                                    <small>{{ item.project.customer.name }}</small>
                                </td>
                                <td>{{ item.moment|date('d.m.Y') }}</td>
                                <td>{{ item.description }}</td>
                                <td class="text-right">
                                    {% if not item.chargeable %}
                                        ({{ item.duration|number_format }})
                                    {% else %}
                                        {{ item.duration|number_format }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.person is not null %}{{ item.person.name }}{% endif %}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('app_timetracking_edit', {id: item.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                                        <a href="{{ path('app_timetracking_delete', {id: item.id}) }}" class="btn btn-danger btn-sm btn-delete">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">{% trans %}No times tracked yet...{% endtrans %}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>{% trans %}Project{% endtrans %}</th>
                            <th>{% trans %}Moment{% endtrans %}</th>
                            <th>{% trans %}Description{% endtrans %}</th>
                            <th class="text-right">{% trans %}Duration{% endtrans %} {% trans %}Shortcode Total{% endtrans %}{{ totalTime|number_format }} {% trans %}Shortcode Chargeable{% endtrans %}{{ totalTimeChargeable|number_format }}</th>
                            <th>{% trans %}Person{% endtrans %}</th>
                            <th>{% trans %}Actions{% endtrans %}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
