{% extends "base.html.twig" %}

{% block pageTitle %}{{ title|trans }}{% endblock %}

{% block body %}
<section class="content">
    {{ form_start(form) }}

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    {{ form_row(form.begin) }}
                    {{ form_row(form.end) }}
                    {{ form_row(form.includeNonChargeable) }}

                    <div class="text-right">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</section>
{% endblock %}
